.edit-input{
    display: flex;
    align-items: center;
    gap: 8px;
}

.edit-input  :nth-child(1){
    padding: 4px;
    margin: 4px 0;
}

.edit-input  button{
    background-color: var(--button-color);
    color: #fff;
    font-weight: 700;
    font-size: .9rem;
    border: 0;
    padding: 4px 12px;
}

.edit-input  button:hover{
    cursor: pointer;
    background-color: var(--button-color-hover);

}