.education-container{
    display: flex;
    flex-direction: column;
}

.education-container > button{
    background-color: var(--button-color);
    color: #fff;
    font-weight: 700;
    font-size: .9rem;
    border: 0;
    border-radius: 4px;
    padding: 6px 12px;
    width: 100%;
}

.education-container > button:hover{
    cursor: pointer;
    background-color: var(--button-color-hover);
}

.education{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.education :nth-child(1n){
    width: max-content;
}

[field="eduTitle"]{
    font-size: 1.3rem;
    font-weight: 500;
}

[field="school"]{
    font-size: 1.2rem;
    font-weight: 300;
}

[field="date"]{
    font-size: 0.8rem;
    font-style: italic;
    color: var(--grey);
}

.education *:hover:not(button):not(div)::after{
    content: '';
    background: url(../img/pencil.png);
    background-size: 16px;
    height: 16px;
    width: 16px;
    position: absolute;
}

.education *:hover{
    cursor: pointer;
}

.education > button{
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0;
    background: 0;
    border: 0;
    color: red;
    font-size: 1.3rem;
}

.education:hover > button{
    opacity: 1;
    cursor: pointer;
}

.education > button:hover {
    color: rgb(134, 17, 17);
} 