.general-intro{
    flex: 1.3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;
}

.general-intro > *:not([iseditable="false"]):hover{
    cursor: pointer;
}

.general-intro > *:hover:not(div):not([iseditable="false"]):after{
    content: '';
    background: url(../img/pencil.png);
    background-size: 16px;
    height: 16px;
    width: 16px;
    position: absolute;
}

.general-intro [field="name"]{
    color: var(--blue);
    font-weight: 500;
    font-size: 2.3rem;
}

.general-intro [field="job"]{
    color: var(--grey);
    font-weight: 300;
    font-size: 1.3rem;
}

.general-intro [field="desc"]{
    padding: 8px 0;
    font-size: 1rem;
}