*{
  margin: 0;
  box-sizing: border-box;
}

:root{
  --blue: #346799;
  --grey: #656565;
  --bg-color: #fff;
  --body-bg-color: #656565;
  --button-color: #45a54b;
  --button-color-hover: #347d39;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-bg-color);
}

#root{
  display: flex;
  justify-content: center;
}


.hide{
  display: none;
}