.skills-container{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.skills{
    padding: 6px 16px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills-container button{
    background-color: var(--button-color);
    color: #fff;
    font-weight: 700;
    font-size: .9rem;
    border: 0;
    border-radius: 4px;
    padding: 6px 12px;
}

.skills-container button:hover{
    cursor: pointer;
    background-color: var(--button-color-hover);
}