.skills-container{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.skills-container > button{
    background-color: var(--button-color);
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    border: 0;
    border-radius: 4px;
    padding: 6px 12px;
}

.skills-container > button:hover{
    cursor: pointer;
    background-color: var(--button-color-hover);
}

.skills{
    padding: 6px 16px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills > button{
    display: none;
    background: 0;
    border: 0;
    color: rgb(255, 145, 145);
    font-size: 1rem;
    padding: 0 0 0 16px;
}

.skills:hover:not([iseditable="false"]) > button{
    display: flex;
    cursor: pointer;
}

.skills > button:hover {
    color: red;
} 