.work-container{
    display: flex;
    flex-direction: column;
}

.work-container > div:last-of-type{
    margin: 0;
}

.work-date-location{
    font-size: 0.9rem;
    font-style: italic;
    color: var(--grey);
    display: flex;
}

.work-date-location :nth-child(2){
    margin-left: auto;
}

.work-container > button{
    background-color: var(--button-color);
    color: #fff;
    font-weight: 700;
    font-size: .9rem;
    border: 0;
    border-radius: 4px;
    padding: 6px 12px;
    width: 100%;
    margin-top: 24px;
}

.work-container > button:hover{
    cursor: pointer;
    background-color: var(--button-color-hover);
}

.work-container ul > button{
    background-color: var(--button-color);
    color: #fff;
    font-weight: 700;
    font-size: .9rem;
    border: 0;
    border-radius: 4px;
    padding: 2px 4px;
}

.work-container ul > button:hover{
    cursor: pointer;
    background-color: var(--button-color-hover);
}

[field="jobTitle"] {
    font-size: 1.4rem;
    font-weight: 500;
}

[field="company"] {
    font-size: 1.2rem;
    font-weight: 300;
}

 .work *:not(ul):not(li):not(div):not([iseditable="false"]):hover{
    cursor: pointer;
}

.work{
    position: relative;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.work li{
    width: max-content;
}

.work *:hover:not(button):not(ul):not(li):not(div):not([iseditable="false"])::after{
    content: '';
    background: url(../img/pencil.png);
    background-size: 16px;
    height: 16px;
    width: 16px;
    position: absolute;
}

.work li button{
    opacity: 0;
    background: 0;
    border: 0;
    color: red;
    font-size: .9rem;
    padding: 2px;
}

.work li:hover > button{
    opacity: 1;
    cursor: pointer;
}

.work li > button:hover {
    color: rgb(134, 17, 17);
}

.work > button{
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0;
    background: 0;
    border: 0;
    color: red;
    font-size: 1.3rem;
    padding: 2px;
}

.work:hover > button{
    opacity: 1;
    cursor: pointer;
}

.work > button:hover {
    color: rgb(134, 17, 17);
} 

